.settings {
    /* Settings position to absolute left */
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.25s ease;

    /* Boxing */
    width: 300px;
    height: 100vh;
    border-radius: 0 20px 20px 0;

    /* Colors */
    background-color: white;
    color: black;

    /* Elements Styling */
    padding: 15px;
    line-height: 3em;
}

.title_bar {
    display: flex;
    justify-content: space-between;
}

.title_bar img {
    cursor: pointer;
}

.title_bar h1 {
    margin: 0;
}

.options {
    display: flex;
    flex-direction: column;
}

.font_picker {
    padding: 10px;
}


.select_file_hidden {
    /* The default selector */
    visibility: hidden;
    display: none;
}

.select_file_button {
    /* The changed selector */
    padding: 10px;
}