.home_screen {
    /* Positioning */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: fit-content;
}

.settings_button {
    /* Positioning */
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    cursor: pointer;
}

.clock {
    min-width: 6.25em;
    margin: 1rem 0;

    /* Text */
    text-align: center;
    font-size: 4rem;
}

.search {
    /* Box Sizing */
    width: 100%;
    padding: 0.5em;

    /* Coloring */
    background-color: transparent;
    color: white;

    /* Text */
    text-align: center;
    font-size: 1.25rem;

    /* Border */
    border: 0;
    border-bottom: 2px solid white;

    /* Transition */
    transition: border-color 0.25s;
}

.search:focus {
    outline: 0;
    border-color: transparent;
}

.search::placeholder {
    text-align: center;
    color: white;

    /* Transition */
    transition: color 0.25s;
}

.search:focus::placeholder {
    color: transparent;
}